// Padding :: START
@for $i from 0 through 10 {  
    .padd#{$i*5} { padding: $i*5px };  
   }

@for $i from 0 through 10 {  
    .pt#{$i*5} { padding-top: $i*5px };  
}

@for $i from 0 through 10 {  
    .pb#{$i*5} { padding-bottom: $i*5px };  
}
@for $i from 0 through 10 {  
    .pl#{$i*5} { padding-left: $i*5pxpx };  
}
@for $i from 0 through 10 {  
    .pr#{$i*5} { padding-right: $i*5px };  
}
// Padding :: END

// Margin :: START

@for $i from 0 through 10 {  
    .mt#{$i*5} { margin-top: $i*5px };  
}

@for $i from 0 through 10 {  
    .mb#{$i*5} { margin-bottom: $i*5px };  
}
@for $i from 0 through 10 {  
    .ml#{$i*5} { margin-left: $i*5px };  
}
@for $i from 0 through 10 {  
    .mr#{$i*5} { margin-right: $i*5px };  
}
// Margin :: END

@media(max-width:767px){
    // Padding :: START
    @for $i from 0 through 10 {  
        .mb-padd#{$i*5} { padding: $i*5px };  
    }
    @for $i from 0 through 10 {  
        .mb-pt#{$i*5} { padding-top: $i*5px };  
    }
    @for $i from 0 through 10 {  
        .mb-pb#{$i*5} { padding-bottom: $i*5px };  
    }
    @for $i from 0 through 10 {  
        .mb-pl#{$i*5} { padding-left: $i*5px };  
    }
    @for $i from 0 through 10 {  
        .mb-pr#{$i*5} { padding-right: $i*5px };  
    }
    // Padding :: END

    // Margin :: START

    @for $i from 0 through 10 {  
        .mb-mt#{$i*5} { margin-top: $i*5px };  
    }
    @for $i from 0 through 10 {  
        .mb-mb#{$i*5} { margin-bottom: $i*5px };  
    }
    @for $i from 0 through 10 {  
        .mb-ml#{$i*5} { margin-left: $i*5px };  
    }
    @for $i from 0 through 10 {  
        .mb-mr#{$i*5} { margin-right: $i*5px };  
    }
    // Margin :: END
}