
html, body{
    font-family: 'Futura PT';
    padding: 0;
    margin: 0;
}
#lp-header{
    position: absolute;
    top:0;
    left:0;
    z-index: 999;
    padding-left: 30px;
    padding-top:30px;
    @media(max-width:767px){
        position: static;
        padding: 0;
    }
    .novac-logo{
        img {
            max-height: 50px;
        background-color: #fff;
        padding: 9px 23px;
        
        }
        @media(max-width:767px){
            text-align: center;
        }
    } 
}
.lp-banner{
    padding: 40px;
    height: 100vh;
    background: #efefef;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    
    @media(max-width:767px){
        height: auto;
        padding:0;
        background-size: contain;
        &:before{
            position: absolute;
            content:"";
            top:0;
            left:0;
            width: 100%;
            height: 300px;
            background-image: url(../img/banner.png);
            background-repeat: no-repeat;
            background-size:cover;
          
        }
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
        height: auto;
    }
    &:after{
        position: absolute;
        content:"";
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-image: url(../img/gradient.png);
        background-repeat: no-repeat;
        background-size:cover;
        @media(max-width:767px){
            height: 300px;
           // background-position: top right;
        }
        @media(min-width:992px) and (max-width:1199px){
            background-position: right;
        }
    }
    .lp-banner-cnt{
        position: relative;
        z-index:99;
        .banner-con{
            margin-left: auto;
            max-width: 540px;
            margin-bottom: 0px;
            @media(max-width:767px){
                max-width: 222px;
            }
            @media(min-width:1200px) and (max-width:1400px){
                max-width: 390px;
            }
            h1{
                font-weight: 600;
                font-size: 44px;
                color: #fff;
                line-height: 56px;
                text-shadow: 0 3px 6px #00000059;
                @media (max-width: 767px) {
                    font-size: 28px;
                    line-height: 34px;
                }
                span.text-yellow{
                    color: #FDB811;
                    &:first-child{
                        font-weight: 400;
                    }
                }
            }
            p{
                font-size: 26px; 
                color: #fff;
                font-weight: 300;
                text-shadow: 0 3px 6px #00000059;
                line-height: 34px;
                @media (max-width: 767px) {
                    font-size: 20px;
                    line-height: 23px;
                }
            }
            
        }
        .text-yellow{
            color: #FDB811;
        }
        
    }
   
}
.request-demo{
    position: absolute;
    bottom: 15px;
    color: #fff;
    z-index: 1;
}


.getintouch{
    transform: rotate(180deg) translate(-50%, -50%);
    writing-mode: vertical-rl;
    margin: 0px;
    //margin-right: -30px;
    font-size: 55px;
    color: #7E96AD;
    //margin-left: 30px;
    position: absolute;
    left: -95px;
    font-weight: 300;
    bottom: 70%;
    height: 100%;
    @media(max-width:767px){
        display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
        font-size: 40px;
        left: -67px;
    }
    @media(min-width:1200px) and (max-width:1450px){
        bottom: 65%;
    }
    @media(min-width:992px) and (max-width:1199px){
        font-size: 50px;
    }
    
}
.banner-con{
    height: calc(100vh - 80px);
    align-items: center;
    @media (max-width:767px) {
        height: auto;
        padding-top:30px;
    }
}
@media (min-width: 1470px){
    .container{
        max-width: 1440px;
        margin: 0px auto;
    }
}
/* form */
.form-box{
    background: #00244A;
    margin-bottom: 0px;
    color: #000;
    -webkit-box-shadow: 0px 0px 6px #12468040;
    box-shadow: 0px 0px 6px #12468040;
    height: calc(100vh - 80px);
    @media (max-width: 767px) {
        border-radius: 8px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 6px #12468040;
    }
    @media (max-width: 991px) {
        height: auto;
    }
    h4{
        color:#fff;
        text-align: center;
        font-weight: 300;
        padding-bottom: 10px;
        font-size: 20px;
    }
    .form-cnt{
        .form-section{
            padding: 33px 60px 36px;
            @media (max-width: 767px) {
                padding: 30px;
            }
            @media screen and (min-width: 768px) and (max-width: 991px) {
                padding: 20px;
            }
            @media(min-width:991px) and (max-width:1199px){
                padding: 30px 30px;
            }
            @media(min-width:1200px) and (max-width:1400px){
               // padding: 36px 36px 36px;
            }
        }
    }
    input[type=checkbox].black-border + label:before{
        border-color:#fff;
        background-color: #fff;
    }
    .form-group{
        margin-bottom: 30px;
        @media(max-width: 1199px) {
            margin-bottom: 15px;
        }
        @media(min-width:1200px) and (max-width:1400px){
            margin-bottom: 25px;
        }
        .form-input {
            font-size: 16px;
            color: #fff;
            font-weight: 300;
            background-color: transparent;
            border: none;
            border-bottom:1px solid rgba(196, 196, 196, 0.5);
            height: 35px;
            padding: 2px 5px;
            padding-left: 0;
            border-radius: 0px;
            &:hover, &:focus{
                outline: none;
                box-shadow: none;
            }
        }
        .form-input::placeholder{
            color:#fff;
        }
        textarea{
            border:1px solid rgba(196, 196, 196, 0.5)!important;
            padding: 5px 10px!important;
            background-color: transparent;
            height: 96px!important;
            @media screen and (min-width: 768px) and (max-width: 991px) {
                height: 56px!important;
            }
        }
        select{
           option{
            background-color:#124680!important;
            padding:5px;
           }
        }
        select::placeholder{
            background-color:#000!important;
        }
    }
   
    .input-checkbox{
        display: flex;
        margin-top:14px;
        input{
            margin-top: 6px;
        }
        label{
            padding-left: 10px;
            font-weight: 300;
            font-size: 14px;
        }
    }
    
}
.services-box{
    background: transparent linear-gradient(to left, #1F426500 0%, #026B6D 100%);
    padding: 40px;
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    @media(min-width:1199px){
    .row{
        width: 100%;
        > div{
            display: flex;
        }
    }
}
    @media(max-width:991px){
        position: static;
        background: transparent linear-gradient(to left, #026B6D 0%, #026B6D 100%);
        padding: 20px 40px;
       
    }
    @media(min-width:992px) and (max-width:1199px){
        padding: 20px 40px;
    }
    
    h2{
        font-size: 20px;
        color:#fff;
        margin:0;
        align-self: center;
        padding-right: 20px;
        font-weight: 300;
        span{
            font-weight: 400;
        }
        @media(max-width:1199px){
           margin-bottom: 15px;
        }
    }
}
.form-submit{
    background: transparent linear-gradient(180deg, #FDB811 0%, #FDB811 100%) ;
    border-radius: 50px;
    border:0;
    height: 38px;
    font-size: 16px;
    box-shadow: 0px 3px 15px #00000075;
    padding: 5px 20px;
    
}
#wrapper{
position: relative;
}
@media(min-width:1200px) and (max-width:1450px){
    .flex-from{
       
        -ms-flex: 0 0 39%;
        flex: 0 0 39%;
        max-width: 39%;
    }
    .first-con{
        -ms-flex: 0 0 61%;
        flex: 0 0 61%;
        max-width: 61%;
    }
}