html.body{
    box-sizing: border-box;
}
$futura-pt-book: 'Futura PT Book';
$futura-medium: 500;
.about-novac{
    padding: 60px 0px;
    @media(max-width: 767px){
        padding: 40px 0px;
    }
    .about-us-img{
        img{
            max-width: 100%;
        }
    }
    .äbout-cnt{
        h2{
            font-size: 157px;
            color: #f5f5f5;
            font-weight: 300;
            margin-bottom: 0px;
            line-height: 100px;
            @media(min-width: 768px) and (max-width: 991px){
                font-size: 90px;
            }
            @media(min-width: 992px) and (max-width: 1199px){
                font-size: 120px;
            }
        }
        p{
            max-width: 550px;
            color: #707070;
            font-family: $futura-pt-book;
            font-size: 18px;
            margin-left: 14px;
            .highlight-brand{
                font-size: 34px;
                color: #149389;
            }
            .highlight-brand2{
                font-size: 18px;
                font-family: $futura-pt-book;
                color: #149389;
            }
            .highlight-brand3{
                font-size: 18px;
                color: #149389;
                text-transform: uppercase;
                font-family: 'Futura PT';
                font-weight: $futura-medium;
            }
        }
    }
    @media(max-width: 767px){
        .äbout-cnt{
            h2{
                font-size: 80px;
                line-height: 50px;
                margin-top: 20px;
            }
            p{
                font-size: 16px;
                margin-left: 4px;
            }
        }
    }

}
.bg-light-grey{
    background:#FBFBFB;
}
.products{
    .product-heading{
        text-align: center;
        padding-top: 60px;
        h2{
            font-size: 40px;
            color: #707070;
            font-weight: $futura-medium;
            display: inline-block;
            position: relative;
            font-weight: $futura-medium;
            &:before{
                content: "";
                background-image: url(../../../assets/img/Line.png);
                display: block;
                width: 140px;
                height: 3px;
                position: absolute;
                top: 50%;
                left: -150px;
            }
            &:after{
                content: "";
                background-image: url(../../../assets/img/Line.png);
                display: block;
                width: 140px;
                height: 3px;
                position: absolute;
                top: 50%;
                right: -150px;
                transform: rotate(180deg);
            }
        }
    }
    
    .product-list{
        padding: 60px 0px;
        .product-img{
            img{
                max-width: 100%;
                @media(max-width: 767px){
                    margin: 0px auto!important;
                }
            }
        }
        .individual-product{
            margin-bottom: 40px;
            @media(min-width: 767px) and (max-width: 991px){
                margin-bottom: 0px;
            }
            .heading{
                font-size: 60px;
                color: #149389;
                font-weight: $futura-medium;
                @media(max-width: 767px){
                    font-size: 40px;
                }
            }
            p{
                font-family: $futura-pt-book;
                font-size: 20px;
                margin-bottom: 0px;
                color: #707070;
                @media(max-width: 767px){
                    font-size: 18px;
                }
                span{
                    font-weight: bold;
                    color: #149389;
                    font-family: 'Futura PT';
                }
            }
        }
    }
    .product-ziva{
        padding: 30px 0px 60px;
        @media(max-width: 767px){
            padding: 15px 0px 40px!important;
        }
    }

    @media(max-width: 767px){
        .product-heading{
            padding-top: 40px;
            h2{
               font-size: 24px;
                &:before{
                    left: -90px;
                    width: 80px;
                }
                &:after{
                    right: -90px;
                    width: 80px;
                }
            }
           
        }
        .product-list{
            padding: 40px 0px;
            .individual-product{
                margin-bottom: 20px;
            }
        }
    }

   
}
.products-nova{
    .individual-product{
        .heading{
            color: #FDBC06!important;
        }
        p{
            span{
                color: #FDBC06!important;
            }
        }
    }
   
}
.products-kazito{
    .individual-product{
        .heading{
            color: #2672B1!important;
        }
        p{
            span{
                color: #2672B1!important;
            }
        }
    }
   
}
.products-axle{
    .individual-product{
        .heading{
            color: #8BCC5D!important;
        }
        p{
            span{
                color: #8BCC5D!important;
            }
        }
    }
   
}
footer{
    
    .footer{
        text-align: center;
        padding: 40px 15px;
        background-size: cover;
        background-position: bottom;
        h3{
            font-size: 20px;
            font-family: $futura-pt-book;
            color: #fff;
            margin-bottom: 15px;
            span{
                font-weight: $futura-medium;
                font-family: 'Futura PT';
                font-weight: $futura-medium;
            }
        }
        button{
            background: #FDB811;
            color: #000;
            width: 180px;
            padding: 6px;
            border-radius: 50px;
            border: none;
            font-size: 22px;
            text-transform: uppercase;
        }
    }
    .copyrights{
        background-color: #003460;
        p{
            color: #fff;
            font-size: 14px;
            font-family: $futura-pt-book;
            margin-bottom: 0px;
            padding: 15px;
            text-align: center;
        }
    }
    @media(max-width: 767px){
        .footer{
            button{
                width: 150px;
                font-size: 18px;
            }
        }
    }
}
