@font-face {
    font-family: 'Futura PT Book';
    src: url('FuturaPT-Book.eot');
    src: url('FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-Book.woff2') format('woff2'),
        url('FuturaPT-Book.woff') format('woff'),
        url('FuturaPT-Book.svg#FuturaPT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('FuturaPT-BookObl.eot');
    src: url('FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-BookObl.woff2') format('woff2'),
        url('FuturaPT-BookObl.woff') format('woff'),
        url('FuturaPT-BookObl.svg#FuturaPT-BookObl') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-BoldObl.eot');
    src: url('FuturaPT-BoldObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-BoldObl.woff2') format('woff2'),
        url('FuturaPT-BoldObl.woff') format('woff'),
        url('FuturaPT-BoldObl.svg#FuturaPT-BoldObl') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-Bold.eot');
    src: url('FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-Bold.woff2') format('woff2'),
        url('FuturaPT-Bold.woff') format('woff'),
        url('FuturaPT-Bold.svg#FuturaPT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('FuturaPTCond-Bold.eot');
    src: url('FuturaPTCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('FuturaPTCond-Bold.woff2') format('woff2'),
        url('FuturaPTCond-Bold.woff') format('woff'),
        url('FuturaPTCond-Bold.svg#FuturaPTCond-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('FuturaPTCond-BoldObl.eot');
    src: url('FuturaPTCond-BoldObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPTCond-BoldObl.woff2') format('woff2'),
        url('FuturaPTCond-BoldObl.woff') format('woff'),
        url('FuturaPTCond-BoldObl.svg#FuturaPTCond-BoldObl') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url('FuturaPTCond-BookObl.eot');
    src: url('FuturaPTCond-BookObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPTCond-BookObl.woff2') format('woff2'),
        url('FuturaPTCond-BookObl.woff') format('woff'),
        url('FuturaPTCond-BookObl.svg#FuturaPTCond-BookObl') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url('FuturaPTCond-Book.eot');
    src: url('FuturaPTCond-Book.eot?#iefix') format('embedded-opentype'),
        url('FuturaPTCond-Book.woff2') format('woff2'),
        url('FuturaPTCond-Book.woff') format('woff'),
        url('FuturaPTCond-Book.svg#FuturaPTCond-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url('FuturaPTCond-ExtraBoldObl.eot');
    src: url('FuturaPTCond-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPTCond-ExtraBoldObl.woff2') format('woff2'),
        url('FuturaPTCond-ExtraBoldObl.woff') format('woff'),
        url('FuturaPTCond-ExtraBoldObl.svg#FuturaPTCond-ExtraBoldObl') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('FuturaPTCond-MediumObl.eot');
    src: url('FuturaPTCond-MediumObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPTCond-MediumObl.woff2') format('woff2'),
        url('FuturaPTCond-MediumObl.woff') format('woff'),
        url('FuturaPTCond-MediumObl.svg#FuturaPTCond-MediumObl') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url('FuturaPTCond-ExtraBold.eot');
    src: url('FuturaPTCond-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('FuturaPTCond-ExtraBold.woff2') format('woff2'),
        url('FuturaPTCond-ExtraBold.woff') format('woff'),
        url('FuturaPTCond-ExtraBold.svg#FuturaPTCond-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('FuturaPTCond-Medium.eot');
    src: url('FuturaPTCond-Medium.eot?#iefix') format('embedded-opentype'),
        url('FuturaPTCond-Medium.woff2') format('woff2'),
        url('FuturaPTCond-Medium.woff') format('woff'),
        url('FuturaPTCond-Medium.svg#FuturaPTCond-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('FuturaPT-ExtraBold.eot');
    src: url('FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-ExtraBold.woff2') format('woff2'),
        url('FuturaPT-ExtraBold.woff') format('woff'),
        url('FuturaPT-ExtraBold.svg#FuturaPT-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('FuturaPT-DemiObl.eot');
    src: url('FuturaPT-DemiObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-DemiObl.woff2') format('woff2'),
        url('FuturaPT-DemiObl.woff') format('woff'),
        url('FuturaPT-DemiObl.svg#FuturaPT-DemiObl') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('FuturaPT-ExtraBoldObl.eot');
    src: url('FuturaPT-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-ExtraBoldObl.woff2') format('woff2'),
        url('FuturaPT-ExtraBoldObl.woff') format('woff'),
        url('FuturaPT-ExtraBoldObl.svg#FuturaPT-ExtraBoldObl') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('FuturaPT-Demi.eot');
    src: url('FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-Demi.woff2') format('woff2'),
        url('FuturaPT-Demi.woff') format('woff'),
        url('FuturaPT-Demi.svg#FuturaPT-Demi') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-HeavyObl.eot');
    src: url('FuturaPT-HeavyObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-HeavyObl.woff2') format('woff2'),
        url('FuturaPT-HeavyObl.woff') format('woff'),
        url('FuturaPT-HeavyObl.svg#FuturaPT-HeavyObl') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-Light.eot');
    src: url('FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-Light.woff2') format('woff2'),
        url('FuturaPT-Light.woff') format('woff'),
        url('FuturaPT-Light.svg#FuturaPT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-Heavy.eot');
    src: url('FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-Heavy.woff2') format('woff2'),
        url('FuturaPT-Heavy.woff') format('woff'),
        url('FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-Medium.eot');
    src: url('FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-Medium.woff2') format('woff2'),
        url('FuturaPT-Medium.woff') format('woff'),
        url('FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-LightObl.eot');
    src: url('FuturaPT-LightObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-LightObl.woff2') format('woff2'),
        url('FuturaPT-LightObl.woff') format('woff'),
        url('FuturaPT-LightObl.svg#FuturaPT-LightObl') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-MediumObl.eot');
    src: url('FuturaPT-MediumObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-MediumObl.woff2') format('woff2'),
        url('FuturaPT-MediumObl.woff') format('woff'),
        url('FuturaPT-MediumObl.svg#FuturaPT-MediumObl') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

