@import url('../fonts/stylesheet.css');
@import url('../plugins/bootstrap/css/bootstrap.css');
@import url('../plugins/font-awesome-4.7.0/css/font-awesome.min.css');
@import 'imports/style1', 'imports/style2', 'imports/common';

html, body{
    color: #000000;
    font-family: 'Futura PT';
    font-size: 16px;
}


