@charset "UTF-8";
@import url("../fonts/stylesheet.css");
@import url("../plugins/bootstrap/css/bootstrap.css");
@import url("../plugins/font-awesome-4.7.0/css/font-awesome.min.css");
html, body {
  font-family: 'Futura PT';
  padding: 0;
  margin: 0;
}

#lp-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  padding-left: 30px;
  padding-top: 30px;
}

@media (max-width: 767px) {
  #lp-header {
    position: static;
    padding: 0;
  }
}

#lp-header .novac-logo img {
  max-height: 50px;
  background-color: #fff;
  padding: 9px 23px;
}

@media (max-width: 767px) {
  #lp-header .novac-logo {
    text-align: center;
  }
}

.lp-banner {
  padding: 40px;
  height: 100vh;
  background: #efefef;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 767px) {
  .lp-banner {
    height: auto;
    padding: 0;
    background-size: contain;
  }
  .lp-banner:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .lp-banner {
    height: auto;
  }
}

.lp-banner:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  .lp-banner:after {
    height: 300px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .lp-banner:after {
    background-position: right;
  }
}

.lp-banner .lp-banner-cnt {
  position: relative;
  z-index: 99;
}

.lp-banner .lp-banner-cnt .banner-con {
  margin-left: auto;
  max-width: 540px;
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  .lp-banner .lp-banner-cnt .banner-con {
    max-width: 222px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .lp-banner .lp-banner-cnt .banner-con {
    max-width: 390px;
  }
}

.lp-banner .lp-banner-cnt .banner-con h1 {
  font-weight: 600;
  font-size: 44px;
  color: #fff;
  line-height: 56px;
  text-shadow: 0 3px 6px #00000059;
}

@media (max-width: 767px) {
  .lp-banner .lp-banner-cnt .banner-con h1 {
    font-size: 28px;
    line-height: 34px;
  }
}

.lp-banner .lp-banner-cnt .banner-con h1 span.text-yellow {
  color: #FDB811;
}

.lp-banner .lp-banner-cnt .banner-con h1 span.text-yellow:first-child {
  font-weight: 400;
}

.lp-banner .lp-banner-cnt .banner-con p {
  font-size: 26px;
  color: #fff;
  font-weight: 300;
  text-shadow: 0 3px 6px #00000059;
  line-height: 34px;
}

@media (max-width: 767px) {
  .lp-banner .lp-banner-cnt .banner-con p {
    font-size: 20px;
    line-height: 23px;
  }
}

.lp-banner .lp-banner-cnt .text-yellow {
  color: #FDB811;
}

.request-demo {
  position: absolute;
  bottom: 15px;
  color: #fff;
  z-index: 1;
}

.getintouch {
  -webkit-transform: rotate(180deg) translate(-50%, -50%);
          transform: rotate(180deg) translate(-50%, -50%);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin: 0px;
  font-size: 55px;
  color: #7E96AD;
  position: absolute;
  left: -95px;
  font-weight: 300;
  bottom: 70%;
  height: 100%;
}

@media (max-width: 767px) {
  .getintouch {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .getintouch {
    font-size: 40px;
    left: -67px;
  }
}

@media (min-width: 1200px) and (max-width: 1450px) {
  .getintouch {
    bottom: 65%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .getintouch {
    font-size: 50px;
  }
}

.banner-con {
  height: calc(100vh - 80px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .banner-con {
    height: auto;
    padding-top: 30px;
  }
}

@media (min-width: 1470px) {
  .container {
    max-width: 1440px;
    margin: 0px auto;
  }
}

/* form */
.form-box {
  background: #00244A;
  margin-bottom: 0px;
  color: #000;
  -webkit-box-shadow: 0px 0px 6px #12468040;
  box-shadow: 0px 0px 6px #12468040;
  height: calc(100vh - 80px);
}

@media (max-width: 767px) {
  .form-box {
    border-radius: 8px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 6px #12468040;
            box-shadow: 0px 0px 6px #12468040;
  }
}

@media (max-width: 991px) {
  .form-box {
    height: auto;
  }
}

.form-box h4 {
  color: #fff;
  text-align: center;
  font-weight: 300;
  padding-bottom: 10px;
  font-size: 20px;
}

.form-box .form-cnt .form-section {
  padding: 33px 60px 36px;
}

@media (max-width: 767px) {
  .form-box .form-cnt .form-section {
    padding: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .form-box .form-cnt .form-section {
    padding: 20px;
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  .form-box .form-cnt .form-section {
    padding: 30px 30px;
  }
}

.form-box input[type=checkbox].black-border + label:before {
  border-color: #fff;
  background-color: #fff;
}

.form-box .form-group {
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  .form-box .form-group {
    margin-bottom: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .form-box .form-group {
    margin-bottom: 25px;
  }
}

.form-box .form-group .form-input {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);
  height: 35px;
  padding: 2px 5px;
  padding-left: 0;
  border-radius: 0px;
}

.form-box .form-group .form-input:hover, .form-box .form-group .form-input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-box .form-group .form-input::-webkit-input-placeholder {
  color: #fff;
}

.form-box .form-group .form-input:-ms-input-placeholder {
  color: #fff;
}

.form-box .form-group .form-input::-ms-input-placeholder {
  color: #fff;
}

.form-box .form-group .form-input::placeholder {
  color: #fff;
}

.form-box .form-group textarea {
  border: 1px solid rgba(196, 196, 196, 0.5) !important;
  padding: 5px 10px !important;
  background-color: transparent;
  height: 96px !important;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .form-box .form-group textarea {
    height: 56px !important;
  }
}

.form-box .form-group select option {
  background-color: #124680 !important;
  padding: 5px;
}

.form-box .form-group select::-webkit-input-placeholder {
  background-color: #000 !important;
}

.form-box .form-group select:-ms-input-placeholder {
  background-color: #000 !important;
}

.form-box .form-group select::-ms-input-placeholder {
  background-color: #000 !important;
}

.form-box .form-group select::placeholder {
  background-color: #000 !important;
}

.form-box .input-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
}

.form-box .input-checkbox input {
  margin-top: 6px;
}

.form-box .input-checkbox label {
  padding-left: 10px;
  font-weight: 300;
  font-size: 14px;
}

.services-box {
  background: transparent -webkit-gradient(linear, right top, left top, from(#1F426500), to(#026B6D));
  background: transparent linear-gradient(to left, #1F426500 0%, #026B6D 100%);
  padding: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media (min-width: 1199px) {
  .services-box .row {
    width: 100%;
  }
  .services-box .row > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 991px) {
  .services-box {
    position: static;
    background: transparent -webkit-gradient(linear, right top, left top, from(#026B6D), to(#026B6D));
    background: transparent linear-gradient(to left, #026B6D 0%, #026B6D 100%);
    padding: 20px 40px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .services-box {
    padding: 20px 40px;
  }
}

.services-box h2 {
  font-size: 20px;
  color: #fff;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 20px;
  font-weight: 300;
}

.services-box h2 span {
  font-weight: 400;
}

@media (max-width: 1199px) {
  .services-box h2 {
    margin-bottom: 15px;
  }
}

.form-submit {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#FDB811), to(#FDB811));
  background: transparent linear-gradient(180deg, #FDB811 0%, #FDB811 100%);
  border-radius: 50px;
  border: 0;
  height: 38px;
  font-size: 16px;
  -webkit-box-shadow: 0px 3px 15px #00000075;
          box-shadow: 0px 3px 15px #00000075;
  padding: 5px 20px;
}

#wrapper {
  position: relative;
}

@media (min-width: 1200px) and (max-width: 1450px) {
  .flex-from {
    -ms-flex: 0 0 39%;
    -webkit-box-flex: 0;
            flex: 0 0 39%;
    max-width: 39%;
  }
  .first-con {
    -ms-flex: 0 0 61%;
    -webkit-box-flex: 0;
            flex: 0 0 61%;
    max-width: 61%;
  }
}

html.body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-novac {
  padding: 60px 0px;
}

@media (max-width: 767px) {
  .about-novac {
    padding: 40px 0px;
  }
}

.about-novac .about-us-img img {
  max-width: 100%;
}

.about-novac .äbout-cnt h2 {
  font-size: 157px;
  color: #f5f5f5;
  font-weight: 300;
  margin-bottom: 0px;
  line-height: 100px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-novac .äbout-cnt h2 {
    font-size: 90px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about-novac .äbout-cnt h2 {
    font-size: 120px;
  }
}

.about-novac .äbout-cnt p {
  max-width: 550px;
  color: #707070;
  font-family: "Futura PT Book";
  font-size: 18px;
  margin-left: 14px;
}

.about-novac .äbout-cnt p .highlight-brand {
  font-size: 34px;
  color: #149389;
}

.about-novac .äbout-cnt p .highlight-brand2 {
  font-size: 18px;
  font-family: "Futura PT Book";
  color: #149389;
}

.about-novac .äbout-cnt p .highlight-brand3 {
  font-size: 18px;
  color: #149389;
  text-transform: uppercase;
  font-family: 'Futura PT';
  font-weight: 500;
}

@media (max-width: 767px) {
  .about-novac .äbout-cnt h2 {
    font-size: 80px;
    line-height: 50px;
    margin-top: 20px;
  }
  .about-novac .äbout-cnt p {
    font-size: 16px;
    margin-left: 4px;
  }
}

.bg-light-grey {
  background: #FBFBFB;
}

.products .product-heading {
  text-align: center;
  padding-top: 60px;
}

.products .product-heading h2 {
  font-size: 40px;
  color: #707070;
  font-weight: 500;
  display: inline-block;
  position: relative;
  font-weight: 500;
}

.products .product-heading h2:before {
  content: "";
  background-image: url(../../../assets/img/Line.png);
  display: block;
  width: 140px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: -150px;
}

.products .product-heading h2:after {
  content: "";
  background-image: url(../../../assets/img/Line.png);
  display: block;
  width: 140px;
  height: 3px;
  position: absolute;
  top: 50%;
  right: -150px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.products .product-list {
  padding: 60px 0px;
}

.products .product-list .product-img img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .products .product-list .product-img img {
    margin: 0px auto !important;
  }
}

.products .product-list .individual-product {
  margin-bottom: 40px;
}

@media (min-width: 767px) and (max-width: 991px) {
  .products .product-list .individual-product {
    margin-bottom: 0px;
  }
}

.products .product-list .individual-product .heading {
  font-size: 60px;
  color: #149389;
  font-weight: 500;
}

@media (max-width: 767px) {
  .products .product-list .individual-product .heading {
    font-size: 40px;
  }
}

.products .product-list .individual-product p {
  font-family: "Futura PT Book";
  font-size: 20px;
  margin-bottom: 0px;
  color: #707070;
}

@media (max-width: 767px) {
  .products .product-list .individual-product p {
    font-size: 18px;
  }
}

.products .product-list .individual-product p span {
  font-weight: bold;
  color: #149389;
  font-family: 'Futura PT';
}

.products .product-ziva {
  padding: 30px 0px 60px;
}

@media (max-width: 767px) {
  .products .product-ziva {
    padding: 15px 0px 40px !important;
  }
}

@media (max-width: 767px) {
  .products .product-heading {
    padding-top: 40px;
  }
  .products .product-heading h2 {
    font-size: 24px;
  }
  .products .product-heading h2:before {
    left: -90px;
    width: 80px;
  }
  .products .product-heading h2:after {
    right: -90px;
    width: 80px;
  }
  .products .product-list {
    padding: 40px 0px;
  }
  .products .product-list .individual-product {
    margin-bottom: 20px;
  }
}

.products-nova .individual-product .heading {
  color: #FDBC06 !important;
}

.products-nova .individual-product p span {
  color: #FDBC06 !important;
}

.products-kazito .individual-product .heading {
  color: #2672B1 !important;
}

.products-kazito .individual-product p span {
  color: #2672B1 !important;
}

.products-axle .individual-product .heading {
  color: #8BCC5D !important;
}

.products-axle .individual-product p span {
  color: #8BCC5D !important;
}

footer .footer {
  text-align: center;
  padding: 40px 15px;
  background-size: cover;
  background-position: bottom;
}

footer .footer h3 {
  font-size: 20px;
  font-family: "Futura PT Book";
  color: #fff;
  margin-bottom: 15px;
}

footer .footer h3 span {
  font-weight: 500;
  font-family: 'Futura PT';
  font-weight: 500;
}

footer .footer button {
  background: #FDB811;
  color: #000;
  width: 180px;
  padding: 6px;
  border-radius: 50px;
  border: none;
  font-size: 22px;
  text-transform: uppercase;
}

footer .copyrights {
  background-color: #003460;
}

footer .copyrights p {
  color: #fff;
  font-size: 14px;
  font-family: "Futura PT Book";
  margin-bottom: 0px;
  padding: 15px;
  text-align: center;
}

@media (max-width: 767px) {
  footer .footer button {
    width: 150px;
    font-size: 18px;
  }
}

.padd0 {
  padding: 0px;
}

.padd5 {
  padding: 5px;
}

.padd10 {
  padding: 10px;
}

.padd15 {
  padding: 15px;
}

.padd20 {
  padding: 20px;
}

.padd25 {
  padding: 25px;
}

.padd30 {
  padding: 30px;
}

.padd35 {
  padding: 35px;
}

.padd40 {
  padding: 40px;
}

.padd45 {
  padding: 45px;
}

.padd50 {
  padding: 50px;
}

.pt0 {
  padding-top: 0px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt25 {
  padding-top: 25px;
}

.pt30 {
  padding-top: 30px;
}

.pt35 {
  padding-top: 35px;
}

.pt40 {
  padding-top: 40px;
}

.pt45 {
  padding-top: 45px;
}

.pt50 {
  padding-top: 50px;
}

.pb0 {
  padding-bottom: 0px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb25 {
  padding-bottom: 25px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb35 {
  padding-bottom: 35px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb45 {
  padding-bottom: 45px;
}

.pb50 {
  padding-bottom: 50px;
}

.pl0 {
  padding-left: 0pxpx;
}

.pl5 {
  padding-left: 5pxpx;
}

.pl10 {
  padding-left: 10pxpx;
}

.pl15 {
  padding-left: 15pxpx;
}

.pl20 {
  padding-left: 20pxpx;
}

.pl25 {
  padding-left: 25pxpx;
}

.pl30 {
  padding-left: 30pxpx;
}

.pl35 {
  padding-left: 35pxpx;
}

.pl40 {
  padding-left: 40pxpx;
}

.pl45 {
  padding-left: 45pxpx;
}

.pl50 {
  padding-left: 50pxpx;
}

.pr0 {
  padding-right: 0px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pr25 {
  padding-right: 25px;
}

.pr30 {
  padding-right: 30px;
}

.pr35 {
  padding-right: 35px;
}

.pr40 {
  padding-right: 40px;
}

.pr45 {
  padding-right: 45px;
}

.pr50 {
  padding-right: 50px;
}

.mt0 {
  margin-top: 0px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt35 {
  margin-top: 35px;
}

.mt40 {
  margin-top: 40px;
}

.mt45 {
  margin-top: 45px;
}

.mt50 {
  margin-top: 50px;
}

.mb0 {
  margin-bottom: 0px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb50 {
  margin-bottom: 50px;
}

.ml0 {
  margin-left: 0px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.ml35 {
  margin-left: 35px;
}

.ml40 {
  margin-left: 40px;
}

.ml45 {
  margin-left: 45px;
}

.ml50 {
  margin-left: 50px;
}

.mr0 {
  margin-right: 0px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.mr30 {
  margin-right: 30px;
}

.mr35 {
  margin-right: 35px;
}

.mr40 {
  margin-right: 40px;
}

.mr45 {
  margin-right: 45px;
}

.mr50 {
  margin-right: 50px;
}

@media (max-width: 767px) {
  .mb-padd0 {
    padding: 0px;
  }
  .mb-padd5 {
    padding: 5px;
  }
  .mb-padd10 {
    padding: 10px;
  }
  .mb-padd15 {
    padding: 15px;
  }
  .mb-padd20 {
    padding: 20px;
  }
  .mb-padd25 {
    padding: 25px;
  }
  .mb-padd30 {
    padding: 30px;
  }
  .mb-padd35 {
    padding: 35px;
  }
  .mb-padd40 {
    padding: 40px;
  }
  .mb-padd45 {
    padding: 45px;
  }
  .mb-padd50 {
    padding: 50px;
  }
  .mb-pt0 {
    padding-top: 0px;
  }
  .mb-pt5 {
    padding-top: 5px;
  }
  .mb-pt10 {
    padding-top: 10px;
  }
  .mb-pt15 {
    padding-top: 15px;
  }
  .mb-pt20 {
    padding-top: 20px;
  }
  .mb-pt25 {
    padding-top: 25px;
  }
  .mb-pt30 {
    padding-top: 30px;
  }
  .mb-pt35 {
    padding-top: 35px;
  }
  .mb-pt40 {
    padding-top: 40px;
  }
  .mb-pt45 {
    padding-top: 45px;
  }
  .mb-pt50 {
    padding-top: 50px;
  }
  .mb-pb0 {
    padding-bottom: 0px;
  }
  .mb-pb5 {
    padding-bottom: 5px;
  }
  .mb-pb10 {
    padding-bottom: 10px;
  }
  .mb-pb15 {
    padding-bottom: 15px;
  }
  .mb-pb20 {
    padding-bottom: 20px;
  }
  .mb-pb25 {
    padding-bottom: 25px;
  }
  .mb-pb30 {
    padding-bottom: 30px;
  }
  .mb-pb35 {
    padding-bottom: 35px;
  }
  .mb-pb40 {
    padding-bottom: 40px;
  }
  .mb-pb45 {
    padding-bottom: 45px;
  }
  .mb-pb50 {
    padding-bottom: 50px;
  }
  .mb-pl0 {
    padding-left: 0px;
  }
  .mb-pl5 {
    padding-left: 5px;
  }
  .mb-pl10 {
    padding-left: 10px;
  }
  .mb-pl15 {
    padding-left: 15px;
  }
  .mb-pl20 {
    padding-left: 20px;
  }
  .mb-pl25 {
    padding-left: 25px;
  }
  .mb-pl30 {
    padding-left: 30px;
  }
  .mb-pl35 {
    padding-left: 35px;
  }
  .mb-pl40 {
    padding-left: 40px;
  }
  .mb-pl45 {
    padding-left: 45px;
  }
  .mb-pl50 {
    padding-left: 50px;
  }
  .mb-pr0 {
    padding-right: 0px;
  }
  .mb-pr5 {
    padding-right: 5px;
  }
  .mb-pr10 {
    padding-right: 10px;
  }
  .mb-pr15 {
    padding-right: 15px;
  }
  .mb-pr20 {
    padding-right: 20px;
  }
  .mb-pr25 {
    padding-right: 25px;
  }
  .mb-pr30 {
    padding-right: 30px;
  }
  .mb-pr35 {
    padding-right: 35px;
  }
  .mb-pr40 {
    padding-right: 40px;
  }
  .mb-pr45 {
    padding-right: 45px;
  }
  .mb-pr50 {
    padding-right: 50px;
  }
  .mb-mt0 {
    margin-top: 0px;
  }
  .mb-mt5 {
    margin-top: 5px;
  }
  .mb-mt10 {
    margin-top: 10px;
  }
  .mb-mt15 {
    margin-top: 15px;
  }
  .mb-mt20 {
    margin-top: 20px;
  }
  .mb-mt25 {
    margin-top: 25px;
  }
  .mb-mt30 {
    margin-top: 30px;
  }
  .mb-mt35 {
    margin-top: 35px;
  }
  .mb-mt40 {
    margin-top: 40px;
  }
  .mb-mt45 {
    margin-top: 45px;
  }
  .mb-mt50 {
    margin-top: 50px;
  }
  .mb-mb0 {
    margin-bottom: 0px;
  }
  .mb-mb5 {
    margin-bottom: 5px;
  }
  .mb-mb10 {
    margin-bottom: 10px;
  }
  .mb-mb15 {
    margin-bottom: 15px;
  }
  .mb-mb20 {
    margin-bottom: 20px;
  }
  .mb-mb25 {
    margin-bottom: 25px;
  }
  .mb-mb30 {
    margin-bottom: 30px;
  }
  .mb-mb35 {
    margin-bottom: 35px;
  }
  .mb-mb40 {
    margin-bottom: 40px;
  }
  .mb-mb45 {
    margin-bottom: 45px;
  }
  .mb-mb50 {
    margin-bottom: 50px;
  }
  .mb-ml0 {
    margin-left: 0px;
  }
  .mb-ml5 {
    margin-left: 5px;
  }
  .mb-ml10 {
    margin-left: 10px;
  }
  .mb-ml15 {
    margin-left: 15px;
  }
  .mb-ml20 {
    margin-left: 20px;
  }
  .mb-ml25 {
    margin-left: 25px;
  }
  .mb-ml30 {
    margin-left: 30px;
  }
  .mb-ml35 {
    margin-left: 35px;
  }
  .mb-ml40 {
    margin-left: 40px;
  }
  .mb-ml45 {
    margin-left: 45px;
  }
  .mb-ml50 {
    margin-left: 50px;
  }
  .mb-mr0 {
    margin-right: 0px;
  }
  .mb-mr5 {
    margin-right: 5px;
  }
  .mb-mr10 {
    margin-right: 10px;
  }
  .mb-mr15 {
    margin-right: 15px;
  }
  .mb-mr20 {
    margin-right: 20px;
  }
  .mb-mr25 {
    margin-right: 25px;
  }
  .mb-mr30 {
    margin-right: 30px;
  }
  .mb-mr35 {
    margin-right: 35px;
  }
  .mb-mr40 {
    margin-right: 40px;
  }
  .mb-mr45 {
    margin-right: 45px;
  }
  .mb-mr50 {
    margin-right: 50px;
  }
}

html, body {
  color: #000000;
  font-family: 'Futura PT';
  font-size: 16px;
}
/*# sourceMappingURL=app.css.map */